@page "/addsupplier"
@inject NavigationManager navigationManager 
<h3>Supplier Info</h3>
<hr />
@if (supplier != null)
{
<EditForm Model="supplier" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="companyname">Company Name</label>
            <InputText id="companyname" class="form-control" @bind-Value="supplier.CompanyName" />
        </div>
        <div class="form-group col-md-6">
            <label for="contactname">Contact Name</label>
            <InputText id="contactname" class="form-control" @bind-Value="supplier.ContactName" />
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="contacttitle">Contact Title</label>
            <InputText id="contacttitle" class="form-control" @bind-Value="supplier.ConctatTitle" />
        </div>
        <div class="form-group col-md-3">
            <label for="phone">Phone</label>
            <InputText id="phone" class="form-control" @bind-Value="supplier.Phone" />
        </div>
        <div class="form-group col-md-3">
            <label for="fax">Fax</label>
            <InputText id="fax" class="form-control" @bind-Value="supplier.Fax" />
        </div>
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <InputText id="address" class="form-control" @bind-Value="supplier.Address" />
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="city">Country</label>
            <InputText id="country" class="form-control" @bind-Value="supplier.Country" />
        </div>
        <div class="form-group col-md-3">
            <label for="city">City</label>
            <InputText id="city" class="form-control" @bind-Value="supplier.City" />
        </div>
        <div class="form-group col-md-3">
            <label for="region">Region</label>
            <InputText id="region" class="form-control" @bind-Value="supplier.Region" />
        </div>
        <div class="form-group col-md-3">
            <label for="postalcode">Postal Code</label>
            <InputText id="postalcode" class="form-control" @bind-Value="supplier.PostalCode" />
        </div>
    </div>
    <div class="float-right">
        <button type="button" class="btn btn-danger" @onclick="OnCancel">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>

    </div>
   
</EditForm>
}

@code {
    private CoreBusiness.Entities.Supplier supplier;

    protected override void OnInitialized()
    {
        this.supplier = new CoreBusiness.Entities.Supplier();
    }

    private void OnValidSubmit()
    {

    }
    private void OnCancel() { GoToSuppliers(); }
    void GoToSuppliers()
    {
        navigationManager.NavigateTo("/suppliers");
    }
}
